# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
dist/
.vite/

# Tailwind (si usas JIT o temporales)
*.css.map

# VS Code
.vscode/
*.code-workspace

# Sistema operativo
.DS_Store
Thumbs.db

# Entornos
.env
.env.local
.env.*.local
.env.example

# Logs
*.log

# Otros
*.swp
*.swo